.cart__title{
    margin: 25px 0px;
    text-align: left;
    color: bisque;
}

.cartItem__image{
    width: 60px;
    height: 100px;
}

.cart{
    display: flex;
    flex-flow: column nowrap;
    vertical-align: middle;
    align-items: center;
    //width: 80%;
}

.cart__items{
    width: 80%;
}

.cartItem{
    width: 100%;
    height: 120px;
    margin-left: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    vertical-align: center;
    color: bisque;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.4);
}

.cartItem__btnRemove{
    height: 30px;
}

.btnFinalizar{
    width: auto;
    &:hover{
        background-color: bisque;
        color: #0e4159;
    }
    // margin-left: 40%;
    // height: 40px;
    // margin-top: 20px;
}

.btnClear{
    width: auto;
    background-color: firebrick;
    &:hover{
        background-color: bisque;
        color: #0e4159;
    }
}

.cart__label{
    color: bisque;
    margin-bottom: 15px;
    margin-left: 15px;
}

.cart__buyersData{
    border: 0.5px solid bisque;
    margin-top: 15px;
}

.cart__buyer{
    display: flex;
    margin-bottom: 25px;
    margin-left: 5px; 
}

.compraExitosa{
    color: bisque;
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 100px;
    text-align: center;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
    height: 40px;
}

.cartItem__TotalPrice{
    color: bisque;
    font-weight: bold;
    font-size: 18px;
    margin-left: 50%;
}