@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.home__body{
    color: white;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-top: 15px;
}